name: Lint & Check Types & Test

permissions:
  contents: read

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  quality:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.10', '3.11', '3.12', '3.13' ]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install ruff
      - name: Lint (ruff)
        run: ruff check --config=pyproject.toml src/